html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #131313;
}

input[type="checkbox"][aria-disabled="true"]{
    pointer-events: none;
    accent-color: #258cfb;
}

input.form-control,
input.form-control:focus{
    background-color: #131313;
    color: #fff;
}