@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my library</h1>
    <p>This site is an online catalogue of the books contained in my home library. All the data here is housed in a SQL server that is ran on Microsoft Azure along with this web application.</p>
</div>
